*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.line-under-text{
    opacity: 0.3;
    margin: 40px 0;
}
/* Header */
header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 500;
    background-color: #fff;
    /* DEBUG */
    /* background-color: brown; */

}
#logo-container{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}
#logo{
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* DEBUG */
    /* background-color: rgb(106, 106, 250); */
}

/* nav functions*/
.functions{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.functions ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
/* Nav Link Border Effect */
.nav-link:hover{
    border-bottom: solid 1px;
    padding-bottom: 38px;
}
/* BUTTON */
.button{
    display: flex;
    align-items: center;
    border: none;
    height: 20%;
    padding: 15px;
    color: #fff;
    background-color: rgb(17, 71, 187);
    cursor: pointer;
}
.button:hover{
    background-color: rgb(17, 71, 187, 0.9);
}
/* Main */
main{
    padding-top: 100px;
}
/* jumbotron */
#jumbotron{
    height: 650px;
    background-color: rgb(109, 185, 236);
}
#jumbotron-items{
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    position: relative;
    /* DEBUG */
    /* background-color: rgb(109, 236, 215);         */
}
#jumbotron-text{
    height: auto;
    width: 31%;
    /* DEBUG */
    /* background-color: aqua; */
}

/* jumbotron font-size */
#jumbotron-items h2{
    font-size: 80px;
}
#free-trial{
    margin-top: 25px;
}
#jumbotron-text p{
    margin-top: 25px;
}
/* img size */
#jumbo-img{
    width: 900px;
    position: absolute;
    left: 350px;
    top: 250px;
}
#jumbo-down-arrow{
    color: black;
}
#jumbo-arrow{
    margin-top: 80px;
    font-size: 50px;
}

/* central main */
.central-box{
    height: auto;
    width: 1024px;
    padding-top: 200px;
    margin: 0 auto;
    /* DEBUG */
    /* background-color: brown; */
}
.internal-box{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1024px;
    /* DEBUG */
    /* height: 500px; */
    /* background-color: aquamarine; */
}


/* Flag */
#flag-container{
    display: flex;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.flag{
    display: flex;
}
.circle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(0, 15, 226);
}
#color{
    width: 10px;
    height: 10px;
    background-color: #fff;
}
#blue-flag{
    border: solid black 1px;
}
#white-flag{
    background-color: #fff;
    border: solid black 1px;
}
.flag-space{
    margin-left: 5px;
}


/* central-box font-size */
.internal-box div h2{
    font-size: 35px;
}

.line{
    display: flex;
    justify-content: space-between;
    height: auto;
    /* DEBUG */
    /* background-color: rgb(246, 255, 127, 0.3); */
}
/* Cards structure */
.card{
    height: auto;
    width: 300px;
    /* DEBUG */
    /* background-color: rgb(251, 255, 0); */
}
.icon-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}
/* Text Plan */
.text-plan{
    height: auto;
    width: 100%;
    padding: 30px 25px;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}
.space{
    margin-bottom: 20px;
}
.pay-period{
    opacity: 50%;
}
/* Info Plan */
.info-plan{
    height: auto;
    width: 100%;
    margin-top: 50px;
    /* DEBUG */
    /* background-color: aquamarine; */
}
.info-plan p{
    margin-bottom: 10px;
    margin-left: 15px;
    text-indent: -8%;
}
.cards-button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.under-business-text{
    width: 50px;
}
/* CheckList */
.check-list-container{
    height: auto;
    width: 100%;
    /* margin: 100px 0; */
    background-color: rgb(255, 255, 255);
}
.check-list-container h5{
    margin-bottom: 20px;
}
.check-list-container p{
    font-size: small;
    text-indent: -8%;
    margin-left: 15px;
}
.check-list-container p i{
    color: blue;
    font-size: 16px;
}


/* Seller Office */
.seller-office{
    height: auto;
    width: 100%;
    margin-top: 50px;
    border: solid rgb(0, 0, 0, 0.2) 1px;;
    padding-bottom: 30px;
    /* DEBUG */
    /* background-color: rgb(0, 177, 15); */
}
.seller-office-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: solid rgb(0, 0, 0, 0.2) 1px;;
}
.seller-office-info{
    margin: 0 auto;
    width: 95%;
}
.enterprise{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.seller-office-text{
    width: 75%;
    margin-top: 50px;
}

/* Partner */
#business-cards-space{
    margin-top: 50px;
}
.partner{
    display: flex;
    height: auto;
    width: 100%;
    /* DEBUG */
    /* background-color: blueviolet; */
}
.partner-img{
    width: 600px;
}
.partner-img img{
    width: 100%;
}
.partner-info{
    width: calc(100% - 600px);
    height: auto;
    margin-top: 50px;
    margin-left: 60px;
    /* DEBUG */
    /* background-color: darkgray; */
}
.partner-info p{
    margin: 20px 0;
}
.partner-b{
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border: solid black 1px;
    cursor: pointer;
}
/* Dropbox Business */
.business-container{
    margin-top: 100px;
}
.business-container h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.business-img{
    width: 100%;
}
.business-img img{
    width: 100%;
}
.business-info-txt{
    margin-top: 40px;
}
/* user-info */
.user-info{
    height: auto;
    width: 100%;
    margin-top: 200px;
}
.user-info h2{
    margin-bottom: 50px;
}
#cliens-info{
    color: rgb(30, 47, 204);
}


/* Brand Show */
.brand-show{
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    height: 600px;
    margin-top: 150px;
    /* DEBUG */
    /* background-color: tomato; */
}
.side-square{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 600px;
    /* DEBUG */
    background-color: aquamarine;
}

.brand-show-square{
    height: 300px;
    width: 15vw;
}
.brand-show-square .border-effect img{
    width: 50%;
    filter: invert(1);
    /* Color filter img */
}
.border-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15vw;
}
/* Central info box */
.container-central-info-box{
    width: 40vw;
    height: 600px;
    padding: 40px;
}
.central-info-box img{
    width: 40%;
}
.info-text-align .main-brand-info{
    /* margin-top: 80px; */
}
.info-text-align .founder-info{
    margin-top: 50px;
}



/* Border Effect */
.border-effect:hover{
    border: solid rgb(255, 255, 255, 0.65) 20px;
}

/* square color */
#color-designit{
    background-color: rgb(156, 178, 133);
}
#color-arizona{
    background-color: rgb(124, 0, 31);
}
#color-florida{
    background-color: rgb(47, 102, 221);
}
#color-topps{
    background-color: rgb(189, 0, 0);
}
#color-world-bicycle{
    background-color: rgb(150, 0, 0);
}
#color-hearst{
    background-color: rgb(169, 231, 255);
}
#color-lonely{
    background-color: rgb(1, 1, 255);
}
#color-clear-channel{
    background-color: rgb(255, 196, 0);
}

.under-brand-logo{
    width: 100px;
}

/* Call to Action Free Trial */
.container-dropbox-business-free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: rgb(171, 192, 231);
}
.dropbox-business-free-trial{
    display: flex;
    width: 55%;
    height: 40%;
    padding: 20px;
    /* DEBUG */
    /* background-color: #fff; */
}
.dropbox-business-free-trial div{
    width: 700px;
    height: 120px;
    margin-right: 20px;
}
.dropbox-business-free-trial h2{
    font-size: 50px;
    color: rgb(102, 6, 6);
}
/* Button style */
#business-free-trial{
    padding: 20px 50px;
    color: #000;
    background-color: #fff;
    box-shadow: rgb(0, 0, 0, 0.2) 2px -1px 10px;
}
#business-free-trial:hover{
    background-color: rgb(214, 214, 214);
}
/* questions-and-answeres */
.questions-and-answeres{
    height: auto;
    width: 100%;
    /* DEBUG */
    /* background-color: rgb(0, 0, 0, 0.2); */
}
.questions-and-answeres-space{
    margin-top: 30px;
}
.questions-and-answeres h2{
    font-size: 40px;
}
.question-box{
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(0, 0, 0, 0.3) 1px;
    border-bottom: solid rgb(0, 0, 0, 0.3) 1px;
    line-height: 100px;
}
.question-box:hover{
    background-color: #ccc;
}
/* Answer spawn */
.answer-spawn{
    display: none;
}
.container-answer-spawn:hover .answer-spawn{
    display: block;
}
.question-arrow-box{
    margin-right: 40px;
}

/* Footer */
footer{
    height: 400px;
    background-color: #000;
    margin-top: 150px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container-footer-columns-sections{
    display: flex;
    justify-content: space-around;
    height: 90%;
    width: 65%;
    /* DEBUG */
    /* background-color: #fff; */
}
.footer-column-section{
    height: auto;
    width: 15%;
    margin-top: 80px;
    color: #fff;
    /* DEBUG */
    /* background-color: tomato; */
}
.footer-column-section ul{
    list-style: none;
    margin-top: 20px;
}
.footer-column-section ul li{
    margin-top: 10px;
}
.footer-column-section ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-column-section ul li a:hover{
    text-decoration: underline;
}


#select-language{
    display: flex;
    justify-content: center;
    height: 100px;
    /* DEBUG */
    background-color: rgb(0, 0, 0);
}
.flex-container-down{
    width: 62%;
    /* DEBUG */
    /* background-color: rgb(128, 128, 128); */
}
#language-list {
    color: rgb(151, 151, 151);
}
.footer-line-under-text{
    color: rgb(173, 173, 173);
    width: 100px;
}