*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 500;
    background-color: #fff;
    /* DEBUG */
    /* background-color: brown; */

}
#logo-container{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}
#logo{
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* DEBUG */
    /* background-color: rgb(106, 106, 250); */
}

/* nav functions*/
.functions{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.functions ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
/* BUTTON */
.button{
    display: flex;
    align-items: center;
    border: none;
    height: 20%;
    padding: 15px;
    color: #fff;
    background-color: rgb(17, 71, 187);
}

/* Main */
main{
    padding-top: 100px;
}
/* jumbotron */
#jumbotron{
    height: 650px;
    background-color: rgb(109, 185, 236);
}
#jumbotron-items{
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    position: relative;
    /* DEBUG */
    /* background-color: rgb(109, 236, 215);         */
}
#jumbotron-text{
    height: auto;
    width: 31%;
    /* DEBUG */
    /* background-color: aqua; */
}

/* jumbotron font-size */
#jumbotron-items h2{
    font-size: 80px;
}
#free-trial{
    margin-top: 25px;
}
#jumbotron-text p{
    margin-top: 25px;
}
/* img size */
#jumbo-img{
    width: 900px;
    position: absolute;
    left: 350px;
    top: 250px;
}
#jumbo-down-arrow{
    color: black;
}
#jumbo-arrow{
    margin-top: 80px;
    font-size: 50px;
}

/* central main */
.central-box{
    height: auto;
    width: 1024px;
    padding-top: 200px;
    margin: 0 auto;
    /* DEBUG */
    /* background-color: brown; */
}
.internal-box{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1024px;
    /* DEBUG */
    /* height: 500px; */
    /* background-color: aquamarine; */
}


/* Flag */
#flag-container{
    display: flex;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.flag{
    display: flex;
}
.circle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(0, 15, 226);
}
#color{
    width: 10px;
    height: 10px;
    background-color: #fff;
}
#blue-flag{
    border: solid black 1px;
}
#white-flag{
    background-color: #fff;
    border: solid black 1px;
}
.flag-space{
    margin-left: 5px;
}


/* central-box font-size */
.internal-box div h2{
    font-size: 35px;
}

.line{
    display: flex;
    justify-content: space-between;
    height: auto;
    /* DEBUG */
    /* background-color: rgb(246, 255, 127, 0.3); */
}
/* Cards structure */
.card{
    height: auto;
    width: 300px;
    /* DEBUG */
    /* background-color: rgb(251, 255, 0); */
}
.icon-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}
/* Text Plan */
.text-plan{
    height: auto;
    width: 100%;
    padding: 30px 25px;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}
.space{
    margin-bottom: 20px;
}
.pay-period{
    opacity: 50%;
}
/* Info Plan */
.info-plan{
    height: auto;
    width: 100%;
    margin-top: 50px;
    /* DEBUG */
    /* background-color: aquamarine; */
}
.info-plan p{
    margin-bottom: 10px;
}
.cards-button{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* CheckList */
.check-list-container{
    height: auto;
    width: 100%;
    margin: 100px 0;
    background-color: rgb(255, 255, 255);
}
.check-list-container h5{
    margin-bottom: 20px;
}
.check-list-container p{
    font-size: small;
    text-indent: -8%;
    margin-left: 10px;
}
.check-list-container p i{
    color: blue;
    font-size: 16px;
}


/* Seller Office */
.seller-office{
    height: auto;
    width: 100%;
    margin-top: 50px;
    border: solid rgb(0, 0, 0, 0.2) 1px;;
    padding-bottom: 30px;
    /* DEBUG */
    /* background-color: rgb(0, 177, 15); */
}
.seller-office-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: solid rgb(0, 0, 0, 0.2) 1px;;
}
.seller-office-info{
    margin: 0 auto;
    width: 95%;
}
.enterprise{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.seller-office-text{
    width: 75%;
    margin-top: 50px;
}

/* Partner */
#business-cards-space{
    margin-top: 50px;
}
.partner{
    display: flex;
    height: auto;
    width: 100%;
    /* DEBUG */
    /* background-color: blueviolet; */
}
.partner-img{
    width: 600px;
}
.partner-img img{
    width: 100%;
}
.partner-info{
    width: calc(100% - 600px);
    height: auto;
    margin-top: 50px;
    margin-left: 60px;
    /* DEBUG */
    /* background-color: darkgray; */
}
.partner-info p{
    margin: 20px 0;
}
.partner-b{
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border: solid black 1px;
}
/* Dropbox Business */ 
.business-container{
    margin-top: 100px;
}
.business-container h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.business-img{
    width: 100%;
}
.business-img img{
    width: 100%;
}
.business-info-txt{
    margin-top: 40px;
}
/* user-info */
.user-info{
    height: auto;
    width: 100%;
    margin-top: 200px;
}
.user-info h2{
    margin-bottom: 50px;
}
#cliens-info{
    color: rgb(30, 47, 204);
}